!functions.sh

!source/cxxtest-4.4
source/cxxtest-4.4/*

!source/fcollada
source/fcollada/*

!source/glad
source/glad/*

!source/nvtt
source/nvtt/*

!source/premake-core
source/premake-core/*

!source/spidermonkey
source/spidermonkey/*

!source/valgrind
source/valgrind/*

!source/**/build.sh
!source/**/patches/


